box1{
    background-color:#067302;
    height: 30px;
}

.box2{
    background-color:#D9C2AD;
    height: 60px;
}

.redes{
    font-size: 30px !important;
    color: white;
    margin: 0px 20px 0px 0px;
}

.textos{
    color:black !important;
    
}