@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap%27');

.caixa{
    background-color: #E4D1BF;
}

.destaque{
    background-color: #9CDF3A;
    
}

.titulo{
    color: #FFFFFF !important ;
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    margin-top: 8px !important;
}

.texto{
    color: white;
}

.botao{
    border-color: rgb(17, 11, 11) ;
    background-color: #3F51B5;
    color: white ;
}

.postagens{
    background-color: white;
}
.card-img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.margem-card{
    margin-top: 100px;
    margin: 40px;
}
.flex-container {
    display: flex;
    justify-content: center;
}