@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap%27');

.cor-navbar{
    background-color: #1C4736 !important;
}

.pointer{
    cursor: pointer;
}


.text-decorator{
    text-decoration: none;

}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        right: 0;
        flex-direction: column;
    }
}

.margin-right{
    margin-right: 5px !important;
}

.cor-ic{
    font-weight: bold !important;
    margin-top: 15px !important;
    color: rgb(247, 245, 245)!important;
    background-color: #1C4736!important;
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 16.4px !important;
}
.cor-ic:hover{
    font-weight: bold !important;
    margin-top: 15px !important;
    color: #9CDF3A !important;
    background-color:#1C4736!important;
}


.cor-log{
    font-weight: bold !important;
    margin-top: 15px !important;
    color: rgb(247, 245, 245)!important;
    background-color: #1C4736!important;
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 35px !important;

}

.cor-log:hover{
font-weight: bold !important;
margin-top: 15px !important;
color: #9CDF3A !important;
background-color:#1C4736!important;
}

.cor-log2{
    font-weight: bold !important;
    margin-top: 18px !important;
    color: rgb(247, 245, 245)!important;
    background-color: #1C4736!important;
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 30px !important;

}

.cor-log2:hover{
font-weight: bold !important;
margin-top: 18px !important;
color: #9CDF3A !important;
background-color:#1C4736!important;
}